## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
*.nuget.props
*.nuget.targets
project.lock.json

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## Rider
.idea/

## VS Code
.vscode/

## OS
.DS_Store
Thumbs.db

## User secrets
secrets.json
